{
    "url": "http://127.0.0.1:9696",
    "api_key": "YOUR_API_KEY_HERE",
    "multithreaded": true,
    "thread_count": 10,
    "timeout_seconds": 30,
    "filter_usenet": true,
    "tracker_first": false,
    "show_flags": true,
    "flags_position": "end"
}
